<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Find_My_Movie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Find_My_Movie.Properties.Settings>
            <setting name="AddActors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddAwards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddBoxOffice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddCountry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddDirector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddGenre" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddImdbId" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddImdbRating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddRottenTomatoesRating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddMetacriticRating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddMetascoreRating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddPlot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddProduction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddRated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddReleased" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddRuntime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddWriter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomMovieFormat" serializeAs="String">
                <value>False</value>
            </setting>
        </Find_My_Movie.Properties.Settings>
    </userSettings>
</configuration>
